@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,900");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Montserrat", sans-serif;
}